<div class=" justify-content-center p-5">
  <div class="row">
    <div class="col">
      <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseOne">
              <h5 class="mb-0">
                <a class="btn btn-link font-weight-bold">
                  Add Client
                </a>
              </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input #clientName type="text" class="form-control" id="inputName" placeholder="Name" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-10">
                      <input #location type="text" class="form-control" id="inputLocation" placeholder="Location"
                        required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputUrl" class="col-sm-2 col-form-label">Url</label>
                    <div class="col-sm-10">
                      <input #url type="text" class="form-control" id="inputUrl" placeholder="Url" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputUrlHasura" class="col-sm-2 col-form-label">Stream Data</label>
                    <div class="col-sm-10">
                      <input #streamData type="text" class="form-control" id="inputUrlHasura" placeholder="Stream Data"
                        required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button (click)="addClient(clientName.value,location.value,url.value,streamData.value)"
                        type="submit" class="btn btn-success">Add Client</button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="box">
        <div class="container">
          <h2 class="font-weight-bold">Client List </h2>
          <!--BOX-->
          <div *ngFor="let client of clients" [class.selected]="client._id === selectedId" class="">

            <div class="box-part text-center shadow">
              <!--Content-->
              <div class="row">
                <div class="col-8">
                  <table class="table text-left table-borderless table-sm">
                    <tbody>
                      <tr>
                        <td scope="row" class="font-weight-bold">Name</td>
                        <td>: {{client.name}}</td>
                      </tr>
                      <tr>
                        <td scope="row" class="font-weight-bold">ID</td>
                        <td>: {{client._id}}</td>
                      </tr>
                      <tr>
                        <td scope="row" class="font-weight-bold">Location</td>
                        <td>: {{client.location}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4">
                  <a [routerLink]="['/client/data/', client._id]" class="btn btn-success a-button" href="#"
                    role="button">See Detail</a>
                </div>
              </div>

              <div class="row">
                <div class="col">
                
                </div>
              </div>


              <!--End of Content-->

            </div>


          </div>
          <!--End Box-->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="chart-diplay box-part2 text-center shadow">
        <h3 class="font-weight-bold">Load/Generation Power Monitoring </h3>
        <div style="width: 100%">
          <div class="stats">
            <div class="row">
            </div>
            <div>
              <strong>Load</strong> <a>{{loadpoweraggregate}}</a>
            </div>

            <div>
              <strong>Power Generation</strong> <a>{{genpoweraggregate}}</a>
            </div>
            <div>
              <strong>Grid Exchange</strong> <a>{{exchangeData}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="chart-diplay box-part2 text-center shadow">
        <select id="selectid" class="form-control-mb-12" (change)="getDateFromOption($event.target.value)">
          <option value="1" selected="selected">Today</option>
          <option value="2">Yesterday</option>
          <option value="3">2 Days Ago </option>
          <option value="4">3 Days Ago </option>
        </select>
        <h3 class="font-weight-bold">Generation/Load </h3>
        <div style="width: 100%">
          <canvas id="line"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
