
span{
    font-size:15px;
}
a{
  text-decoration:none; 
}
.box{
    padding:10px 0px;
}

.box-part{
    background:#FFF;
    border-radius:5px;
    padding:10px 10px;
    margin:5px 5px;
    width: fit-content;
    display: table;
}

.box-part2{
    background:#FFF;
    border-radius:5px;
    padding:10px 10px;
    margin:5px 5px;

}
.container-fix{
    display: table-cell;
}
.text{
    margin:5px 0px;
}

.fa{
     color:#4183D7;
}

.a-button{
    width: 100px;
    margin: 2px;
    color: white;
}

.modal-header, .modal-footer{
    border-bottom: none;
    border-top: none;
}
.form-group{
    margin-bottom: 0.5rem !important;
}

.stats{
	border-top:1px solid #ebeff2;
	background:#f7f8fa;
	overflow:auto;
	padding:15px 0;
	font-size:16px;
	color:#59687f;
	font-weight:600;
	border-radius: 0 0 5px 5px;
}
.stats div{
	border-right:1px solid #ebeff2;
	width: 33.33333%;
	float:left;
	text-align:center
}
.stats strong{
	display:block;
	color:#adb8c2;
	font-size:11px;
	font-weight:700;
}

.stats a{
    font-size:31px;
}





