<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu </div>
      <div class="list-group list-group-flush">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button routerLink='/clients' class="btn btn-link" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Back
                </button>
              </h5>
            </div>
          </div>
          <div *ngIf="client$ as client" class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse1"
                  aria-expanded="false" aria-controls="collapseTwo">
                  Edit Client 
                </button>
              </h5>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">ID</label>
                  <div class="col-sm-8 p-0">
                    <input [(ngModel)]="client._id" type="text" class="form-control" id="inputID" placeholder="ID"
                      disabled />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Name</label>
                  <div class="col-sm-8 p-0">
                    <input [(ngModel)]="client.name" type="text" class="form-control" id="inputName"
                      placeholder="Name" />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputLocation" class="col-sm-4 col-form-label">Location</label>
                  <div class="col-sm-8 p-0">
                    <input [(ngModel)]="client.location" type="text" class="form-control" id="inputLocation"
                      placeholder="Location" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputUrl" class="col-sm-4 col-form-label">Url</label>
                  <div class="col-sm-8 p-0">
                    <input [(ngModel)]="client.url" [ngModel]='url' (ngModelChange)='onChange($event)' type="text"
                      class="form-control" id="inputUrl" placeholder="Url" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputUrlHasura" class="col-sm-4 col-form-label">Stream Data</label>
                  <div class="col-sm-8 p-0">
                    <input [(ngModel)]="client.streamData" type="text" class="form-control" id="inputUrlHasura"
                      placeholder="streamData" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button (click)="save(client)" type="submit" class="btn btn-success">Save</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button [routerLink]="['/chart', client._id]" class="btn btn-link collapsed" type="button"
                  data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                  Data
                </button>
              </h5>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <div class="container-fluid">
        <app-rete [childUrl]='url'></app-rete>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


</body>
