body {
    overflow-x: hidden;
  }

  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    background-color: rgb(243, 243, 243);
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  .btn-link{
    
      text-decoration: none;
  
  }
  
  #sidebar-wrapper .list-group {
    width: 20rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }

  #size{
      max-width: 10;
      height: 100%;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  .btn span.icon {
    background: url(../../../assets/logo/back.svg) no-repeat;
    float: left;
    width: 20px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;

    
}