nav{
    justify-content: center;
    min-height: 100px;
  
}

:host {
    height: 100%;
  }

  .height{
    height: 100% !important;
  }

  .user{
    font-size: 20px;
  }
  .role{
    font-size: 10px;
  }