<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
<a class="navbar-brand" href="#">
          <img src="../assets/vpplogo.jpg" width="50" height="50">
        </a>
  <span class="navbar-brand h0 center font-weight-bold">Virtual Power Plant</span>
     
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="isLoggedIn">
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </li>
     <li class="nav-item">
      <a routerLink="/login" class="nav-link"  *ngIf="!isLoggedIn">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/register" class="nav-link" *ngIf="!isLoggedIn">Register</a>
    </li>
  </ul>
</nav>
<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">

  <router-outlet #o="outlet"></router-outlet>
  </div>
  <router-outlet name="popup"></router-outlet>
