<div class=" justify-content-center p-5">
  <div class="container p-3" style="background-color:white;border-radius:5px">
    <section id="tabs" class="project-tab">
      <div class="container">
        <!-- <button [routerLink]="['/client', lastsegment]" class="btn btn-link" type="button" data-toggle="collapse"
          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Back
        </button> -->
        <!--
         <button (click)="sendmsg()"class="btn btn-link" type="button">
          send
        </button>
        -->
        <div class="row">
       <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" (click)="onSelect($event.target.id)">
                <a *ngIf="dataPV" class="nav-item nav-link" id="nav-pv-tab" data-toggle="tab" href="#nav-pv" 
                  role="tab" aria-controls="nav-home" aria-selected="true" (click)="onSelect($event.target.id)" >PV</a>
                <a *ngIf="dataDcon" class="nav-item nav-link" id="nav-dcon-tab" data-toggle="tab" href="#nav-dcon"
                  role="tab" aria-controls="nav-profile" aria-selected="false" (click)="onSelect($event.target.id)">DCON</a>
                <a *ngIf="dataInverter" class="nav-item nav-link" id="nav-inverter-tab" data-toggle="tab"
                  href="#nav-inverter" role="tab" aria-controls="nav-contact" aria-selected="false"(click)="onSelect($event.target.id)" >Inverter</a>
                <a *ngIf="dataState" class="nav-item nav-link" id="nav-state-tab" data-toggle="tab" href="#nav-state"
                  role="tab" aria-controls="nav-profile" aria-selected="false" (click)="onSelect($event.target.id)" >State</a>
                <a *ngIf="dataPyranometer" class="nav-item nav-link" id="nav-pyranometer-tab" data-toggle="tab"
                  href="#nav-pyranometer" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="onSelect($event.target.id)" >Pyranometer</a>
                <a *ngIf="dataFuelcell" class="nav-item nav-link" id="nav-fuelcell-tab" data-toggle="tab"
                  href="#nav-fuelcell" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="onSelect($event.target.id)" >Fuelcell</a>
                <a *ngIf="dataBatteryGeneration" class="nav-item nav-link" id="nav-batteryGeneration-tab" data-toggle="tab"
                  href="#nav-batteryGeneration" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="onSelect($event.target.id)" >Battery Generation</a>
                <a *ngIf="dataBatteryPercentage" class="nav-item nav-link" id="nav-batteryPercentage-tab" data-toggle="tab"
                  href="#nav-batteryPercentage" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="onSelect($event.target.id)" >Battery Percentage</a>
                  <a *ngIf="dataLoad" class="nav-item nav-link" id="nav-load-tab" data-toggle="tab"
                  href="#nav-load" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="onSelect($event.target.id)" >Total Load</a>
                <a *ngIf="dataGeneration" class="nav-item nav-link" id="nav-generation-tab" data-toggle="tab"
                  href="#nav-generation" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="onSelect($event.target.id)" >Total Power Generation</a>
              </div>
            </nav>
            <script type="text/javascript">
              $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();   
              });
            </script>
            <!-- <a *ngIf="!dataPyranometer && !dataPV && !dataState && !dataDcon && !dataInverter && !dataFuelcell && !dataLoad && !dataGeneration ">No data (Make sure you
              enter the right url)</a> -->
            <div class="tab-content text-center" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-pv" role="tabpanel" aria-labelledby="nav-pv-tab">
                <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titlePV">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataPV">
                      <!-- <td>{{data.voltage}}</td>
                      <td>{{data.current}}</td> -->
                      <td>{{data.power}}</td>
                      <!-- <td>{{data.energy}}</td> -->
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <div [hidden] = "!dataPV" class="container">
                  <!-- <div class="row">
                    <div class="col-sm">
                      <h3>Current</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVCurrent"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Voltage</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVVoltage"></canvas>
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-sm">
                      <h3><a class = "link" href="#" data-toggle="powerpv" title="Daya yang dihasilkan oleh photovoltaic">Power</a></h3>
                      <select id="selectid" class="form-control-mb-12" (change)="getDateFromOption($event.target.value)">
                        <option value="1" selected="selected">Today</option>
                        <option value="2">Yesterday</option>
                        <option value="3">2 Days Ago </option>
                        <option value="4">3 Days Ago </option>
                      </select>
                      <div style="width: 100%">
                        <canvas id="chartPVPower"></canvas>
                      </div>
                    </div>
                    <!-- <div class="col-sm">
                      <h3>Energy</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVEnergy"></canvas>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-dcon" role="tabpanel" aria-labelledby="nav-dcon-tab">
                <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleDcon">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataDcon">
                      <td>{{data.voltage}}</td>
                      <td>{{data.current}}</td>
                      <td>{{data.power}}</td>
                      <td>{{data.energy}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                  <div [hidden] = "!dataDcon"class="container">
                  <!-- <div class="row">
                    <div class="col-sm">
                      <h3>Current</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconCurrent"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Voltage</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconVoltage"></canvas>
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-sm">
                      <h3> <a class = "link" href="#" data-toggle="powerdcon" title="Daya keluaran dari DCON">Power</a></h3>
                      <select id="selectid" class="form-control-mb-12" (change)="getDateFromOption($event.target.value)">
                        <option value="1" selected="selected">Today</option>
                        <option value="2">Yesterday</option>
                        <option value="3">2 Days Ago </option>
                        <option value="4">3 Days Ago </option>
                      </select>
                      <div style="width: 100%">
                        <canvas id="chartDconPower"></canvas>
                      </div>
                    </div>
                    <!-- <div class="col-sm">
                      <h3>Energy</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconEnergy"></canvas>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-inverter" role="tabpanel" aria-labelledby="nav-inverter-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleInverter">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataInverter">
                      <td>{{data.voltage}}</td>
                      <td>{{data.current}}</td>
                      <td>{{data.power}}</td>
                      <td>{{data.energy}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                  <div [hidden] = "!dataInverter" class="container">
                  <!-- <div class="row">
                    <div class="col-sm">
                      <h3>Current</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterCurrent"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Voltage</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterVoltage"></canvas>
                      </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-sm">
                      <h3><a class = "link" href="#" data-toggle="powerinverter" title="Daya keluaran dari inverter">Power</a></h3>
                      <select id="selectid" class="form-control-mb-12" (change)="getDateFromOption($event.target.value)">
                        <option value="1" selected="selected">Today</option>
                        <option value="2">Yesterday</option>
                        <option value="3">2 Days Ago </option>
                        <option value="4">3 Days Ago </option>
                      </select>
                      <div style="width: 100%">
                        <canvas id="chartInverterPower"></canvas>
                      </div>
                    </div>
                    <!-- <div class="col-sm">
                      <h3>Energy</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterEnergy"></canvas>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-state" role="tabpanel" aria-labelledby="nav-state-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleState">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataState">
                      <td>{{data.cb_pv}}</td>
                      <td>{{data.cb_pln}}</td>
                      <td>{{data.cb_fc}}</td>
                      <td>{{data.cb_dc_load}}</td>
                      <td>{{data.cb_ac_load}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <!-- <div class="tab-pane fade" id="nav-pyranometer" role="tabpanel" aria-labelledby="nav-pyranometer-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titlePyranometer">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataPyranometer">
                      <td>{{data.pyranometer}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                 <div [hidden] = "!dataPyranometer" class="container">
                  <div class="row">
                    <div class="col-sm">
                      <h3>Irradiance</h3>
                      <div style="width: 100%">
                        <canvas id="chartPyranometer"></canvas>
                      </div>
                    </div>
                    </div>
                    </div>
              </div> -->
              
              <div class="tab-pane fade" id="nav-fuelcell" role="tabpanel" aria-labelledby="nav-fuelcell-tab">
                <div class ="overflow">
               <table class="table" cellspacing="0">
                 <thead>
                   <tr>
                     <th *ngFor="let data of titleFuelcell">{{data}}</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let data of dataFuelcell">
                    <td>{{data.power}}</td>
                    <td>{{getFormattedDate(data.input_time)}}</td>
                   </tr>
                 </tbody>
               </table>
               </div>
               <div [hidden] = "!dataFuelcell" class="container">
                <div class="row">
                  <div class="col-sm">
                    <h3><a class = "link" href="#" data-toggle="powerfc" title="Daya yang dihasilkan oleh fuelcell">Power</a></h3>
                    <select id="selectid" class="form-control-mb-12" (change)="getDateFromOption($event.target.value)">
                      <option value="1" selected="selected">Today</option>
                      <option value="2">Yesterday</option>
                      <option value="3">2 Days Ago </option>
                      <option value="4">3 Days Ago </option>
                    </select>
                    <div style="width: 100%">
                      <canvas id="chartFuelcellPower"></canvas>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div class="tab-pane fade" id="nav-batteryGeneration" role="tabpanel" aria-labelledby="nav-batteryGeneration-tab">
              <div class ="overflow">
             <table class="table" cellspacing="0">
               <thead>
                 <tr>
                   <th *ngFor="let data of titleBatteryGeneration">{{data}}</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let data of dataBatteryGeneration">
                  <td>{{data.power}}</td>
                  <td>{{getFormattedDate(data.input_time)}}</td>
                 </tr>
               </tbody>
             </table>
             </div>
             <div [hidden] = "!dataBatteryGeneration" class="container">
              <div class="row">
                <div class="col-sm">
                  <h3><a class = "link" href="#" data-toggle="powerbat" title="Daya yang dihasilkan oleh baterai">Power</a></h3>
                  <select id="selectid" class="form-control-mb-12" (change)="getDateFromOption($event.target.value)">
                    <option value="1" selected="selected">Today</option>
                    <option value="2">Yesterday</option>
                    <option value="3">2 Days Ago </option>
                    <option value="4">3 Days Ago </option>
                  </select>
                  <div style="width: 100%">
                    <canvas id="chartBatteryPower"></canvas>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="tab-pane fade" id="nav-batteryPercentage" role="tabpanel" aria-labelledby="nav-batteryPercentage-tab">
            <div class ="overflow">
           <table class="table" cellspacing="0">
             <thead>
               <tr>
                 <th *ngFor="let data of titleBatteryPercentage">{{data}}</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let data of dataBatteryPercentage">
                <td>{{data.percentage}}</td>
                <td>{{getFormattedDate(data.input_time)}}</td>
               </tr>
             </tbody>
           </table>
           </div>
         </div>
              <div class="tab-pane fade" id="nav-load" role="tabpanel" aria-labelledby="nav-load-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleLoad">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataLoad">
                      <td>{{data.kwhperdate}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-generation" role="tabpanel" aria-labelledby="nav-generation-tab">
                <div class ="overflow">
               <table class="table" cellspacing="0">
                 <thead>
                   <tr>
                     <th *ngFor="let data of titleGeneration">{{data}}</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr *ngFor="let data of dataGeneration">
                     <td>{{data.kwhperdate}}</td>
                     <td>{{getFormattedDate(data.input_time)}}</td>
                   </tr>
                 </tbody>
               </table>
               </div>
             </div>         
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<div>

<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="#"]').tooltip();
});
</script>