<div class=" justify-content-center p-5">
  <div class="container p-3" style="background-color:white;border-radius:5px">
    <section id="tabs" class="project-tab">
      <div class="container">
        <button [routerLink]="['/client', lastsegment]" class="btn btn-link" type="button" data-toggle="collapse"
          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Back
        </button>
        <!--
         <button (click)="sendmsg()"class="btn btn-link" type="button">
          send
        </button>
        -->
        <div class="row">
       <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a *ngIf="dataPV" class="nav-item nav-link active" id="nav-pv-tab" data-toggle="tab" href="#nav-pv"
                  role="tab" aria-controls="nav-home" aria-selected="true">PV</a>
                <a *ngIf="dataDcon" class="nav-item nav-link" id="nav-dcon-tab" data-toggle="tab" href="#nav-dcon"
                  role="tab" aria-controls="nav-profile" aria-selected="false">DCON</a>
                <a *ngIf="dataInverter" class="nav-item nav-link" id="nav-inverter-tab" data-toggle="tab"
                  href="#nav-inverter" role="tab" aria-controls="nav-contact" aria-selected="false">Inverter</a>
                <a *ngIf="dataState" class="nav-item nav-link" id="nav-state-tab" data-toggle="tab" href="#nav-state"
                  role="tab" aria-controls="nav-profile" aria-selected="false">State</a>
                <a *ngIf="dataPyranometer" class="nav-item nav-link" id="nav-pyranometer-tab" data-toggle="tab"
                  href="#nav-pyranometer" role="tab" aria-controls="nav-contact" aria-selected="false">Pyranometer</a>
              </div>
            </nav>
            <a *ngIf="!dataPyranometer && !dataPV && !dataState && !dataDcon && !dataInverter">No data (Make sure you
              enter the right url)</a>
            <div class="tab-content text-center" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-pv" role="tabpanel" aria-labelledby="nav-pv-tab">
                <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titlePV">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataPV">
                      <td>{{data.voltage}}</td>
                      <td>{{data.current}}</td>
                      <td>{{data.power}}</td>
                      <td>{{data.energy}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <h3>Current</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVCurrent"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Voltage</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVVoltage"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <h3>Power</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVPower"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Energy</h3>
                      <div style="width: 100%">
                        <canvas id="chartPVEnergy"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-dcon" role="tabpanel" aria-labelledby="nav-dcon-tab">
                <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleDcon">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataDcon">
                      <td>{{data.voltage}}</td>
                      <td>{{data.current}}</td>
                      <td>{{data.power}}</td>
                      <td>{{data.energy}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                  <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <h3>Current</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconCurrent"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Voltage</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconVoltage"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <h3>Power</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconPower"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Energy</h3>
                      <div style="width: 100%">
                        <canvas id="chartDconEnergy"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-inverter" role="tabpanel" aria-labelledby="nav-inverter-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleInverter">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataInverter">
                      <td>{{data.voltage}}</td>
                      <td>{{data.current}}</td>
                      <td>{{data.power}}</td>
                      <td>{{data.energy}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                  <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <h3>Current</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterCurrent"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Voltage</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterVoltage"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <h3>Power</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterPower"></canvas>
                      </div>
                    </div>
                    <div class="col-sm">
                      <h3>Energy</h3>
                      <div style="width: 100%">
                        <canvas id="chartInverterEnergy"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-state" role="tabpanel" aria-labelledby="nav-state-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titleState">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataState">
                      <td>{{data.cb_pv}}</td>
                      <td>{{data.cb_pln}}</td>
                      <td>{{data.cb_fc}}</td>
                      <td>{{data.cb_dc_load}}</td>
                      <td>{{data.cb_ac_load}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-pyranometer" role="tabpanel" aria-labelledby="nav-pyranometer-tab">
                 <div class ="overflow">
                <table class="table" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let data of titlePyranometer">{{data}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataPyranometer">
                      <td>{{data.pyranometer}}</td>
                      <td>{{getFormattedDate(data.input_time)}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                 <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <h3>Irradiance</h3>
                      <div style="width: 100%">
                        <canvas id="chartPyranometer"></canvas>
                      </div>
                    </div>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div>
